html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #928901;
}
body {
    .div1 {
        height: 400px;
        width: 100%;
        background-color: #ffb40f;
        float: left;
    }
    .div2 {
        height: 400px;
        clear: both;
        background-color: #02bbff;
    }
    .div3 {
        height: 400px;
        background-color: #cc0000;
    }
}
