body {
    .div1 {
        width: 50%;
        margin: 20px;
        padding: 10px;
        display: inline;
        border-color: black;
        background-color: #02bbff;
    }
    .div2 {
        width: 50%;
        margin: 30px;
        padding: 20px;
        display: inline;
        border-color: #cc0000;
        background-color: #FF4141;
    }

    .father{
        overflow: hidden;
        position: absolute;
        left: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #0c8ac5;
    }

    .son{
        width: 100%;
        padding-top: 50%;
        background-color: #c03035;

    }
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #D8D8D8;
    }
    img{
        float: left;
        margin-right: 10px;
        border: 2px solid #fdf6e3;
    }
}